{% load static %} {% load socialaccount %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FisshShop | 重設密碼</title>
    <link rel="stylesheet" href="{% static 'aquatic/main.css' %}" />
  </head>
  <body class="bg-pic">
    <div class="login-container">
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}

        <div>
          <h2 class="login-tilte">設定新密碼</h2>
        </div>
        <div class="input-group">
          <input
            type="password"
            name="password1"
            class="input-data"
            placeholder="輸入新密碼"
            required
          />
        </div>
        <div class="input-group">
          <input
            type="password"
            name="password2"
            class="input-data"
            placeholder="再次輸入新密碼"
            required
          />
        </div>
        <button type="submit" class="send-email-btn">確認更換密碼</button>
      </form>
    </div>
  </body>
</html>
