{% load static %} {% load socialaccount %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FisshShop | 忘記密碼</title>
    <link rel="stylesheet" href="{% static 'aquatic/main.css' %}" />
  </head>
  <body class="bg-pic">
    <div class="login-container">
      <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}

        <div>
          <h2 class="login-tilte">忘記密碼</h2>
        </div>

        <div class="input-group">
          <input
            type="email"
            name="email"
            class="input-data"
            placeholder="請輸入您的 Email"
            required
          />
        </div>

        <div class="have-account-btn">
          <a href="{% url 'account_login' %}">想起帳密了？點此登入</a>
        </div>

        <button type="submit" class="send-email-btn">發送重設郵件</button>
      </form>
    </div>
  </body>
</html>
