{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FisshShop | 信件已寄出</title>
    <link rel="stylesheet" href="{% static 'aquatic/main.css' %}" />
  </head>
  <body class="bg-pic">
    <div class="login-container">
      <h2 class="login-tilte">信件已寄出</h2>

      <div class="hint-sended-email">
        我們已經寄了一封電子郵件給你。 請檢查你的收件匣（及垃圾郵件箱），
        並點擊信中的連結來重設密碼。
      </div>

      <a href="{% url 'account_login' %}" class="send-email-btn">返回登入</a>
    </div>
  </body>
</html>
