{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FisshShop | 密碼重設成功</title>
    <link rel="stylesheet" href="{% static 'aquatic/main.css' %}" />
  </head>
  <body class="bg-pic">
    <div class="login-container">
      <h2 class="login-tilte">密碼修改完成</h2>

      <div class="hint-sended-email">
        您的密碼已經順利變更成功。現在您可以點擊下方按鈕，使用新密碼重新進入魚缸。
      </div>

      <a href="{% url 'account_login' %}" class="enter-btn">返回登入</a>
    </div>
  </body>
</html>
