@charset "UTF-8";
// 讓中文註解可以正確編碼
:root {
  --bg-dark: oklch(0.1 0 128); /*背景*/
  --bg: oklch(0.15 0 128); /*卡片*/
  --bg-light: oklch(0.2 0 128); /*卡片hover顏色  btn背景*/
  --bg-big-light: oklch(0.252 0 0);
  --text: oklch(0.96 0 128); /*標題*/
  --text-muted: oklch(0.76 0 128); /*備註*/
  --highlight: oklch(0.5 0 128); /*top邊框  */
  --border: oklch(0.4 0 128); /*邊框     */
  --border-muted: oklch(0.3 0 128); /*邊框     */
  --primary: oklch(0.76 0.1 128); /*主色調*/
  --secondary: oklch(0.76 0.1 308); /*次色調*/
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);

  --green-gradient: linear-gradient(
    to bottom,
    oklch(0.8199 0.1381 140.2),
    oklch(0.911 0.0963 140)
  );

  --radius-l: 1.5rem;
  --radius-m: 1rem;
  --radius-s: 0.5rem;

  --transition: all 0.5s cubic-bezier(0.3, 0.8, 0.2, 1.3);

  --shadow-s:
    inset 0 1px 2px #ffffff30, /*上面的高光*/ 0 1px 2px #00000030,
    /*影子*/ 0 2px 4px #00000015; /*柔影子*/
  --shadow-m:
    inset 0 1px 2px #ffffff50, /*上面的高光*/ 0 2px 4px #00000030,
    /*影子*/ 0 4px 8px #00000015; /*柔影子*/
  --shadow-l:
    inset 0 1px 2px #ffffff70, /*上面的高光*/ 0 4px 6px #00000030,
    /*影子*/ 0 6px 10px #00000015; /*柔影子*/

  /* 英文 Inter 在前，中文 Noto Sans TC 在後 */
  --ff-primary: "Inter", "Noto Sans TC", "Microsoft JhengHei", sans-serif;

  /* 也可以順便把字重定義好，開發更爽 */
  --fw-bold: 900;
  --fw-regular: 400;
  --fw-light: 300;

  --article-margin: 1rem;
}

// ------------------------------------------------------------------------------------------------------------------

.in-article {
  width: 41.5rem;
  border: 1px solid var(--text-muted);
  margin: 0 auto 2rem auto;
}

// --------------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------------
// 下面是文章區--------------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------------

.in-article-content-s {
}

.in-article-photo {
  width: 100%;
  margin: 0 0 0.5rem 0;
  img {
    width: 100%; /* 強制撐滿，不管原圖多大 */
    height: auto;
    display: block;
  }
}

.in-article-title {
  color: var(--text);
  margin: 1.5rem var(--article-margin);
}

/* 修正：要針對裡面的 img 做限制 */
.in-article-photo-block {
  width: 100%;
  margin: 1.5rem 0;

  img {
    max-width: 100%; /* 這行才是關鍵，讓圖片最寬等於父層 */
    height: auto;
    display: block;
  }
}

.in-article-content-block {
  max-width: 100%;
  flex-wrap: wrap;
  margin: 0 var(--article-margin);
  color: var(--text);
  line-height: 1.7; /* 推薦範圍：1.6 ~ 1.8 */
}

// --------------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------------
// 下面是留言區--------------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------------

.in-article-comment-s {
  margin: 5rem 0 2rem 0;
}

.comment-num {
  margin: 1.5rem 0.5rem;
}
