/* main.scss */
/* 引入 Inter (300, 400, 700, 900) 與 思源黑體 (300, 400, 700, 900) */

// git add .;git commit -m "fix: add data";git push
// python manage.py runserver
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Noto+Sans+TC:wght@300;400;700;900&display=swap');

@import 'header'; // 試試看改回 @import，有時候編譯器版本舊不支援 @use
@import 'index';