{% load static %}
<a class="product-creature" href="/">
    {% if item.image %}
        <img src="{{ item.image.url }}" alt="{{ item.name }}" />
    {% else %}
        <div style="width: 100%;
                    height: 200px;
                    background-color: var(--bg-light);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--text-muted)">尚無圖片</div>
    {% endif %}
    <h3 class="product-creature-title">{{ item.name }}</h3>
    {% if item.price_status == 'NOT_FOR_SALE' %}
        <p class="product-creature-subtitle non-sale">無價珍寶</p>
    {% else %}
        <p class="product-creature-subtitle">NT$ {{ item.price }}</p>
    {% endif %}
</a>
