{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FisshShop | 水族交易平台</title>

    <link rel="stylesheet" href="{% static 'aquatic/main.css' %}" />
  </head>
  <body>
    {% include 'header.html' %}
    <!-- 不要刪我頁首 -->
    <div class="in-article">
      <!-- back-btn等等改svg 上下排列 黏螢幕 -->

      <main class="in-article-content-s">
        {% if post.image %}
        <div class="in-article-photo">
          <img src="{{ post.image.url }}" alt="{{ post.title }}" />
        </div>
        {% endif %}
        <!-- 有沒有封面照片 -->

        <h1 class="in-article-title">{{ post.title }}</h1>
        <!-- 顯示標題 -->

        <div class="in-article-maker">
          <a href="{{ post.get_absolute_url }}" class="article-link"></a>
          <!-- 連接遮罩 -->
          <div class="in-maker-photo">
            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="創作者照片" />
          </div>
          <span class="in-maker-name">{{ post.author.username }}</span>
        </div>

        <!-- 顯示maker的照片 -->

        <!-- 放出封面照片 -->

        <div class="in-article-content">
          {% for block in post.content %} {% if block.type == "text" %}
          <p class="in-article-content-block">{{ block.value|linebreaksbr }}</p>
          <!-- |的意思就是把左邊的東西拿到右邊處理一下，linebreaker把文字裡的「換行符號（\n）」通通變成 HTML 的 <br> 標籤 -->
          <!-- 給出內文 -->

          {% elif block.type == "image" %}
          <figure class="in-article-photo-block">
            <img src="{{ block.value }}" alt="內文圖片" />
          </figure>
          {% endif %}
          <!-- 給出文章照片 -->

          {% endfor %}
          <!-- 過濾塊 -->
        </div>
      </main>

      <aside class="in-article-comment-s">
        <h2 class="comment-num">留言 ({{ post.comment_count }})</h2>
      </aside>
    </div>
  </body>
</html>
