{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FisshShop | 水族交易平台</title>

    <link rel="stylesheet" href="{% static 'aquatic/main.css' %}" />
  </head>
  <body>
    {% include 'header.html' %}

    <div class="blog-container">
      <form action="#" method="get" class="search">
        <select name="category" class="search-select">
          <option value="all" class="selection">全部</option>
          <option value="fish" class="selection">蝦魚板</option>
          <option value="layout" class="selection">造景版</option>
          <option value="qa" class="selection">解惑版</option>
        </select>

        <input
          type="search"
          name="q"
          placeholder="搜尋魚種、水草..."
          aria-label="搜尋"
          class="input-text"
        />

        <button type="submit" class="search-btn">
          {% include "icons/search.html" %}
        </button>
        <!-- 圖片直接塞就好 -->
      </form>
      <!-- form會把裡面的輸入資料都打包 -->

      <!-- 文章內容 -->
      <div class="article-container">
        <!-- 為了要修飾員角 -->
        <div class="article-s">
          <!-- -------------------------- -->
          {% for post in posts %}
          <div class="article">
            <!-- a標籤做一個遮罩 可以把整個article遮起來 然後點讚變成更高層的z這樣就不會遮住 -->
            <a href="{{ post.get_absolute_url }}" class="article-link"></a>

            {% if post.image %}
            <img
              src="{{ post.image.url }}"
              alt="{{ post.title }}"
              class="article-photo"
            />
            {% else %}
            <div
              class="no-article-photo"
              style="height: 1rem"
            ></div>
            {% endif %}

            <div class="content">
              <img
                src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                alt="作者"
                class="maker-photo"
              />

              <div class="content-without-maker-photo">
                <a href="/" class="maker-name">{{ post.author.username }}</a>

                <h3 class="article-title">{{ post.title }}</h3>

                <div class="action-s">
                  <button class="action-btn like-btn" aria-label="按讚">
                    {% include "icons/heart.html" %}
                    <span class="action-num">{{ post.like_count }}</span>
                  </button>

                  <button class="action-btn" aria-label="留言">
                    {% include "icons/comment.html" %}
                    <span class="action-num">{{ post.comment_count }}</span>
                  </button>

                  <button class="action-btn" aria-label="分享">
                    {% include "icons/share.html" %}
                  </button>
                </div>
              </div>
            </div>
          </div>

          {% empty %}
          <p style="color: white; text-align: center">
            目前文章是空的，快去加文章！
          </p>
          {% endfor %}
          <!-- --------------------------------- -->
        </div>
      </div>
    </div>

    <script>
      const likeButtons = document.querySelectorAll(".like-btn");

      likeButtons.forEach((button) => {
        button.addEventListener("click", function () {
          this.classList.toggle("liked"); // 切換 class
          console.log("愛心切換成功！"); // 可以在 F12 console 看到這行字
        });
      });
    </script>
  </body>
</html>
