{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FisshShop | 水族交易平台</title>

    <link rel="stylesheet" href="{% static 'aquatic/main.css' %}" />
  </head>
  <body>
    {% include 'header.html' %}

    <div class="blog-container">
      <form action="#" method="get" class="search">
        <select name="category" class="search-select">
          <option value="all" class="selection">全部</option>
          <option value="fish" class="selection">蝦魚板</option>
          <option value="layout" class="selection">造景版</option>
          <option value="qa" class="selection">解惑版</option>
        </select>

        <input
          type="search"
          name="q"
          placeholder="搜尋魚種、水草..."
          aria-label="搜尋"
          class="input-text"
        />

        <button type="submit" class="search-btn">
          {% include "icons/search.html" %}
        </button>
        <!-- 圖片直接塞就好 -->
      </form>
      <!-- form會把裡面的輸入資料都打包 -->

      <!-- 文章內容 -->
      <div class="article-container">
        <!-- 為了要修飾員角 -->
        <div class="article-s">
          <div class="article">
            <img
              src="{% static 'image\pexels-syd-trgt-335495720-32507178.jpg' %}"
              alt="文章照片"
              class="article-photo"
            />

            <div class="content">
              <img
                src="https://picsum.photos/50/50"
                alt="作者"
                class="maker-photo"
              />


              <div class="content-without-maker-photo">
                <a href="/" class="maker-name">豬大哥</a>
                <!-- span不換行 alt 破圖時候代替文字--->
                <h3 class="article-title">
                  你你好你好你好你好你好你好你好你好你好你好
                </h3>
                <!-- <p class="article-subtitle-1">我很抱歉 但是你是深海魚</p> -->

                <div class="action-s">
                  <button class="action-btn like-btn" aria-label="按讚">
                    {% include "icons/heart.html" %}
                    <span class="action-num">128</span>
                  </button>

                  <button class="action-btn" aria-label="留言">
                    {% include "icons/comment.html" %}
                    <span class="action-num">125</span>
                  </button>

                  <button class="action-btn" aria-label="分享">
                    {% include "icons/share.html" %}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="article">
            <img
              src="{% static 'image\pexels-efebeydersiniz-36101415.jpg' %}"
              alt="文章照片"
              class="article-photo"
            />

            <div class="content">
              <img
                src="https://picsum.photos/50/50"
                alt="作者"
                class="maker-photo"
              />

              <div class="content-without-maker-photo">
                <a href="/" class="maker-name">豬大哥</a>
                <!-- span不換行 alt 破圖時候代替文字--->
                <h3 class="article-title">
                  你你好你好你好你好你好你好你好你好你好你好
                </h3>
                <!-- <p class="article-subtitle-1">我很抱歉 但是你是深海魚</p> -->

                <div class="action-s">
                  <button class="action-btn like-btn" aria-label="按讚">
                    {% include "icons/heart.html" %}
                    <span class="action-num">1288888</span>
                  </button>

                  <button class="action-btn" aria-label="留言">
                    {% include "icons/comment.html" %}
                    <span class="action-num">125</span>
                  </button>

                  <button class="action-btn" aria-label="分享">
                    {% include "icons/share.html" %}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const likeButtons = document.querySelectorAll(".like-btn");

      likeButtons.forEach((button) => {
        button.addEventListener("click", function () {
          this.classList.toggle("liked"); // 切換 class
          console.log("愛心切換成功！"); // 可以在 F12 console 看到這行字
        });
      });
    </script>
  </body>
</html>
