<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>歡迎來到 Fisshshop</h1>
    <p>這是你的米蝦交易平台測試網頁</p>

    <div class="aquatic-list">
        <h1>Fisshshop 目前架上生物</h1>
        <ul>
            {% for item in items %}
            <li style="border: 1px solid #ccc; margin: 10px; padding: 10px; list-style: none;">
                <strong>【{{ item.get_city_display }}】{{ item.name }}</strong><br>
                價格：${{ item.price }} | 庫存：{{ item.stock }} 隻<br>
                <p>{{ item.description }}</p>
            </li>
            {% empty %}
            <li>目前還沒有生物上架喔！</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>