{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FisshShop | 賣家管理中心</title>
        <link rel="stylesheet" href="{% static 'aquatic/main.css' %}">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-03DPL1EXYM"></script>
        <script src="{% static 'aquatic/js/manage.js' %}" defer></script>
        <script src="{% static 'aquatic/js/clarity.js' %}" defer></script>
        <script src="{% static 'aquatic/js/add-product.js' %}?v=2026" defer></script>
        <script src="{% static 'aquatic/js/htmx.js' %}" defer></script>
    </head>
    <body>
        {% include "header.html" %}
        <main class="in-manage-temp">
            <div class="manage-content">
                <section class="product-manage-section">
                    <div class="split-tool">
                        <div class="split-left">
                            <h1 class="tab-title">你的產品</h1>
                        </div>
                        <div class="split-right">
                            <div class="mode-toggle-wrapper">
                                <div class="mode-tab-active"></div>
                                <button type="button"
                                        class="mode-tab active"
                                        data-mode="off"
                                        onclick="switchMode(this, 'off')">關閉</button>
                                <button type="button"
                                        class="mode-tab"
                                        data-mode="single"
                                        onclick="switchMode(this, 'single')">上架</button>
                            </div>
                        </div>
                    </div>
                    {% include "component/add-product.html" %}
                </section>
            </div>
        </main>
    </body>
</html>
