{% load static %}
<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FisshShop | 水族交易平台</title>
  </head>

  <body>
    <header class="header">
      <div class="header-l">
        <a href="/" class="logo">
          <img src="{% static '#' %}" alt="brand logo" />
        </a>
        <span>FisshShop</span>
      </div>

      <div class="header-m">
        <ul>
          <li class="navber-list"><a href="/">首頁</a></li>
          <li class="navber-list"><a href="/">賣場</a></li>
          <li class="navber-list"><a href="/">部落格</a></li>
          <li class="navber-list"><a href="/">控制台</a></li>
        </ul>
      </div>

      <div class="header-r">
        <a href="/" class="login-btn">登入</a>
      </div>
    </header>

    <div class="hero">
      <div>
        <h1 class="hero-title">打造你的夢幻水族</h1>
      </div>
      <a href="/" class="hero-btn">點我查看</a>
    </div>

    
  </body>
</html>
